#calculator-container {
  border: 3px solid black;
  background-color: lightgray;
  padding: 10px;
  height: 550px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
}

#screen {
  border: 2px solid blue;
  flex-direction: row;

}

#clear,
#delete {
  border: 3px solid black;
}

.large-buttons {
  display: flex;
}

.button-grid {
  border: 2px solid red;
  width: 150px;
  height: 200px;
  /* display: flex;  */
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
}

.row-1,
.row-2,
.row-3,
.row-4 {
  display: flex;
  /* justify-content: space-between; */
  
}